//
//  Int4RedDebug.xcconfig
//  SplitVersionsSwiftUi
//
//  Created by Luis Enrique Mendez Cantero on 14.01.25.
//

#include "../Environments/Int4.xcconfig"
#include "../Colors/Red.xcconfig"
#include "../BuildTypes/Debug.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.oceloti.lemc.SplitVersionsSwiftUi.int4

APP_DISPLAY_NAME = SplitSwiftUi Int4 Red Debug
