//
//  Int4BlueDebug.xcconfig
//  SplitVersionsUIKit
//
//  Created by Luis Enrique Mendez Cantero on 13.01.25.
//

#include "../Environments/Int4.xcconfig"
#include "../Colors/Blue.xcconfig"
#include "../BuildTypes/Debug.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.oceloti.lemc.SplitVersionsUIKit.int4

APP_DISPLAY_NAME = Split Int4 Blue Debug
